// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


// fonts
$primary-font: "merriweather", sans-serif;
$secondary-font: "poppins", sans-serif;

// colors
$primary-color: #2B2D38;
$pink-color: #DB2A6B;
$grey-color: #ABABAB;
$white-color: #FFFFFF;